@font-face {
  font-family: 'Lato-Bold', sans-serif;
  font-weight: 700;
  font-style: normal;
  src: local(Lato-Bold),
    url(../fonts/Lato-Bold.woff2) format('wpff2'),
    url(../fonts/Lato-Bold.woff) format('wpff');
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Semibold', sans-serif;
  font-weight: 600;
  font-style: normal;
  src: local(Lato-Semibold),
    url(../fonts/Lato-Semibold.woff2) format('wpff2'),
    url(../fonts/Lato-Semibold.woff) format('wpff');
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local(Lato-Regular),
    url(../fonts/Lato-Regular.woff2) format('wpff2'),
    url(../fonts/Lato-Regular.woff) format('wpff');
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Light', sans-serif;
  font-weight: 300;
  font-style: normal;
  src: local(Lato-Light),
    url(../fonts/Lato-Light.woff2) format('wpff2'),
    url(../fonts/Lato-Light.woff) format('wpff');
  font-display: swap;
}

@font-face {
  font-family: 'Signika-Bold', sans-serif;
  font-weight: 700;
  font-style: normal;
  src: local(Signika-Bold),
    url(../fonts/Signika-Bold.woff2) format('wpff2'),
    url(../fonts/Signika-Bold.woff) format('wpff');
  font-display: swap;
}

@font-face {
  font-family: 'Signika-Semibold', sans-serif;
  font-weight: 600;
  font-style: normal;
  src: local(Signika-Semibold),
    url(../fonts/Signika-Semibold.woff2) format('wpff2'),
    url(../fonts/Signika-Semibold.woff) format('wpff');
  font-display: swap;
}

@font-face {
  font-family: 'Signika-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local(Signika-Regular),
    url(../fonts/Signika-Regular.woff2) format('wpff2'),
    url(../fonts/Signika-Regular.woff) format('wpff');
  font-display: swap;
}

@font-face {
  font-family: 'Signika-Light', sans-serif;
  font-weight: 300;
  font-style: normal;
  src: local(Signika-Light),
    url(../fonts/Signika-Light.woff2) format('wpff2'),
    url(../fonts/Signika-Light.woff) format('wpff');
  font-display: swap;
}