body {
  font-family: $lato;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  background-color: $white;
  color: $dark-900;
}

.body--active {
  overflow: hidden;
}

.logo {
  display: block;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 10px;

  @include r($xs) {
    padding: 0 15px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 71px 0;

  @include r($sm) {
    padding: 48px 0;
  }
}

.title {
  display: block;
  text-transform: uppercase;
  font-family: $open-sans;
  font-weight: 600;
  font-size: 32px;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 500px;
  width: fit-content;
  @include line-clamps(1);

  @include r($sm) {
    margin-bottom: 24px;
  }

  @include r($xs) {
    font-size: 24px;
  }
}