@media(max-width: 1430px) {
  .publicity-slider .slick-arrow {
    height: 50px;
    width: 50px;
  }

  .publicity-slider .slick-prev {
    left: 0px;
  }

  .publicity-slider .slick-next {
    right: 0px;
  }
}