$bg-dark: #31352B;
$header-bottom-bg: #63A60F;
$main-color: #63A60E;
$sale:#CF3E3B;
$user-bg-hover:rgba(255, 255, 255, 0.1);
$white: #fff;

%lato-700 {
  font-family: 'Lato-Bold', sans-serif;
  font-weight: 700;
}

%lato-600 {
  font-family: 'Lato-Semibold', sans-serif;
  font-weight: 600;
}

%lato-400 {
  font-family: 'Lato-Regular', sans-serif;
  font-weight: 400;
}

%lato-300 {
  font-family: 'Lato-Light', sans-serif;
  font-weight: 300;
}

%signika-700 {
  font-family: 'Signika-Bold', sans-serif;
  font-weight: 700;
}

%signika-600 {
  font-family: 'Signika-Semibold', sans-serif;
  font-weight: 600;
}

%signika-400 {
  font-family: 'Signika-Regular', sans-serif;
  font-weight: 400;
}

%signika-300 {
  font-family: 'Signika-Light', sans-serif;
  font-weight: 300;
}