@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  &__content {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__top {
    background-color: $bg-dark;
  }

  &__top-inner {
    display: flex;
  }

  &__top-item:not(:last-child) {
    margin-right: 48px;
  }

  &__links {
    text-transform: uppercase;
    color: $white;
    width: max-content;
    @extend %lato-700;
    font-size: 13px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    transition: opacity 0.3s ease-in-out;
    outline: transparent;
  }

  &__links:hover {
    opacity: 0.7;
  }

  &__link--box {
    display: flex;
    align-items: center;
    padding: 14px 0;
  }

  &__link-icon {
    margin-right: 12px;
  }

  &__link {
    padding: 17px 0;
  }

  &__link-wrap:not(:last-child) {
    margin-right: 24px;
  }

  &__bottom {
    background-color: $header-bottom-bg;
    padding: 25px 0;
  }

  &__menu {
    display: flex;
    align-items: center;
    padding: 16px 18px;
    border-radius: 6px;
    background-color: $white;
  }

  &__menu-icon {
    margin-right: 18px;
  }

  &__menu-text {
    margin-right: 14px;
    color: $main-color;
  }

  &__search-wrap {
    display: flex;
    justify-content: center;
    max-width: 576px;
    width: 100%;
  }

  &__search-box {
    display: flex;
    align-items: center;
    max-width: 419px;
    width: 100%;
    padding-left: 12px;
    background-color: $white;
    border-radius: 6px 0 0 6px;
  }

  .label {
    display: none;
  }

  &__search {
    padding: 15px 0 15px 18px;
    width: 100%;
    border: 0;
    outline: transparent;
  }

  &__search::placeholder {
    display: none;
    @extend %lato-400;
    letter-spacing: 0.03em;
  }

  &__search-btn {
    padding: 15px 52px;
    background-color: $bg-dark;
    border-radius: 0px 6px 6px 0px;
    color: $white;
    transition: background-color 0.4s ease-in-out, color 0.3s ease-in-out, margin-left 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  }

  &__search-btn:hover {
    background-color: rgba(49, 53, 43, 0.85);
  }

  &__search-btn:focus {
    margin-left: 4px;
    box-shadow: 0px 0px 0px 4px rgba($white, 0.5);
  }

  &__search-btn:active {
    color: rgba($white, 0.5);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__user-nav {
    display: flex;
    margin-right: 24px;
  }

  &__user-item:not(:last-child) {
    margin-right: 12px;
  }

  &__user-link {
    outline: transparent;
    display: block;
    position: relative;
    transition: background-color 0.4s ease-in-out;
  }

  &__user-link:nth-child(1) {
    padding: 9px 13px;
  }

  &__user-link:nth-child(2) {
    padding: 11px 9px;
  }

  &__user-link:nth-child(3) {
    padding: 9px 8px 10px 10px;
  }

  &__user-link:hover {
    background-color: $user-bg-hover;
    border-radius: 3px;
  }

  &__user-num {
    position: absolute;
    left: 6px;
    top: 3px;
    text-align: center;
    color: $sale;
    font-size: 10px;
    line-height: 18px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $white;
  }
}

.logo {
  display: block;

  &__img {
    width: 200px;
    height: 60px;
  }
}


.slider {

  &__inner {}

  &__item {
    height: calc(100vh - 165.8px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 75% center;
    letter-spacing: 0;
  }

  .container--slider {
    height: inherit;
    display: flex;
    flex-direction: column;
  }

  &__title {
    padding: 24px;
    margin-top: auto;
    margin-bottom: 30px;
    max-width: 775px;
    background: rgba($white, 0.8);
    color: $subtitle;
  }

  &__title--tomato {
    max-width: 825px;
  }

  &__title--cabbage {
    max-width: 885px;
  }

  &__title--cabbage &__caption {
    margin-bottom: 0;
  }

  &__caption {
    text-transform: uppercase;
    @extend %signika-700;
    font-size: 60px;
    line-height: 1.3;
    margin-bottom: 12px;

  }

  &__caption-accent {
    color: $sale;
  }

  &__text {
    @extend %lato-400;
    font-size: 16px;
  }

  &__buy-now {
    display: inline-block;
    width: fit-content;
    color: $white;
    padding: 12px 24px;
    margin-bottom: auto;
    background-color: $main-color;
  }

  .slick-arrow {
    font-size: 0;
    border: none;
    z-index: 2;
    position: absolute;
    top: 48%;
    border-radius: 6px;
    height: 60px;
    width: 60px;
    background-color: rgba($white, 0.8);
    background-repeat: no-repeat;
    background-size: 19px 32px;
    background-position: center center;
  }

  .slick-prev {
    left: 60px;
    background-image: url(../images/slider/chevron-left.svg);
  }

  .slick-next {
    right: 60px;
    background-image: url(../images/slider/chevron-right.svg);
  }

}

.advantages {
  background-color: $bg-light;

  &__inner {
    padding: 48px;
    display: flex;
    justify-content: center;
  }

  &__item {
    padding: 2px 0 2px 74px;
    letter-spacing: 0;
    background-repeat: no-repeat;
    background-position: left center;
  }

  &__item:not(:last-child) {
    margin-right: 48px;
  }

  &__item--scooter {
    background-image: url(../images/advantages/scooter.svg);
  }

  &__item--return {
    background-image: url(../images/advantages/return.svg);
  }

  &__item--support {
    background-image: url(../images/advantages/hours.svg);
  }

  &__title {
    @extend %lato-700;
    font-size: 16px;
    margin-bottom: 7px;
  }

  &__text {
    @extend %lato-400;
    color: $subtitle
  }
}

.section {
  padding: 72px 0;
}

.title {
  text-transform: uppercase;
  @extend %signika-600;
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
}

.categories {
  display: flex;
  justify-content: center;
  margin-bottom: 51px;

  &__article {}

  &__article:not(:last-child) {
    margin-right: 24px;
  }

  &__btn {
    text-transform: uppercase;
    color: $subtitle;
    @extend %lato-700;
    font-size: 15px;
  }

  .mixitup-control-active {
    border-bottom: 3px solid rgba($main-color, 0.2);
  }
}

.goods {

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    grid-gap: 30px;
    margin-bottom: 48px;
  }

  &__item {
    position: relative;
    padding: 12px;
    min-height: 409px;
    max-width: 300px;
    border: 1px solid $border;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    transition: border-color 0.3s ease-in-out;
  }

  &__item:hover {
    border-color: $main-color;
  }

  &__favorite {
    position: absolute;
    top: 17px;
    right: 12px;
    display: block;
    transition: fill 0.3s ease-in-out;
  }

  &__favorite:hover {
    fill: #FFB800;
  }

  &__img {
    margin-top: auto;
    margin-bottom: 9px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    padding: 0 6px 6px 6px;
    height: 120px;
  }

  &__title {
    margin-bottom: auto;
  }

  &__description-inner {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price p {
    @extend %lato-400;
    line-height: 1;
    color: $subtitle;
  }

  &__price--offer p:first-child {
    color: $sale-text-color;
    text-decoration: line-through;
    margin-bottom: 3px;
  }

  &__buy {
    width: 32px;
    height: 32px;
    background-color: $main-color;
    background-image: url(../images/goods/cart.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px;
    transition: background-color 0.4s ease-in-out,
      box-shadow 0.3s ease-in-out;
  }

  &__buy:hover {
    background-color: $bg-green-dark;
  }

  &__buy:focus {
    box-shadow: 0px 0px 0px 4px $btn-focus-shadow-light;
  }

  &__buy:active {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

}

.status {
  position: absolute;

  & span {
    display: none;
    @extend %lato-700;
    font-size: 10px;
    text-align: center;
    letter-spacing: inherit;
    color: $white;
    line-height: 1;
    border-radius: 6px;
    padding: 4px 0px 3px 0px;
    text-transform: uppercase;
  }

  &--new span:first-child {
    display: block;
    width: 66px;
    background-color: $main-color;
    margin-bottom: 6px;
  }

  &--offer span:nth-child(2) {
    display: block;
    background-color: $sale;
    width: 37px;
    margin-bottom: 6px;
  }

  &--hit span:last-child {
    display: block;
    background-color: $hit;
    width: 34px;
  }
}

.btn {
  margin: 0 auto;
  display: block;
  width: fit-content;
  padding: 12px 24px;
  border-radius: 6px;
  @extend %lato-400;
  font-size: 18px;
  line-height: 1.3;

  &--light {
    border: 1px solid $main-color;
    color: $main-color;
    background-color: $white;
  }

  &--light:hover {
    background-color: #EFF6E7;
  }

  &--light:focus {
    box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.5);
    color: rgba(99, 166, 14, 0.5);

  }

  &--light:active {
    box-shadow: inset 0px 10px 4px rgba(0, 0, 0, 0.1);
  }
}

.footer {
  background-color: $bg-dark;
  padding-top: 30px;
  color: $white;
  @extend %lato-400;

  &__logo {
    width: fit-content;
    margin-bottom: 30px;
  }

  &__info {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between
  }

  &__text {
    letter-spacing: 0;
    margin-bottom: 18px;
  }

  &__follow-us {
    margin-right: 10px;
  }

  &__text--label {
    display: block;
  }

  &__subscribe-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
  }

  &__input {
    height: 100%;
    max-width: 182px;
    padding: 12px;
    background: $white;
    border: 0;
    border-radius: 6px 0px 0px 6px;
    outline: transparent;
  }

  &__input::placeholder {
    @extend %lato-400;
    line-height: 1;
    color: $footer-placeholder;
  }

  &__btn {
    height: 100%;
    color: inherit;
    font-size: 12px;
    line-height: 1.2;
    @extend %lato-700;
    text-transform: uppercase;
    padding: 12px 10px 12px 14px;
    background: $main-color;
    border-radius: 0px 6px 6px 0px;
  }

  &__btn:hover {
    background-color: $bg-green-dark;
  }

  &__btn:focus {
    box-shadow: 0px 0px 0px 4px $btn-focus-shadow-light;
  }

  &__btn:active {
    color: rgba($white, 0.5);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__menu {
    column-count: 3;
    column-gap: 85px;
  }

  &__menu-item {}

  &__text--tel {
    display: inline-block;
  }

  &__text--tel:first-child {
    margin-right: 12px;
  }

  &__social {
    display: flex;
  }

  &__social-item:not(:last-child) {
    margin-right: 12px;
  }

  &__bottom {
    border-top: 1px solid rgba($white, 0.1);
    padding: 25px 0;
  }

  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom-text {
    @extend %lato-400;
    letter-spacing: 0;
  }

  &__visa {
    margin-right: 24px;
  }
}

.baner {
  height: 100vh;
}



@import 'media';