.advantages {
  background-color: $silver-100;

  &__inner {
    padding: 48px 0;
    display: flex;
    justify-content: center;
  }

  &__item {
    padding: 5px 0 4px 70px;
    letter-spacing: 0;
    background-repeat: no-repeat;
    background-position: left center;

    & {
      margin-right: 62px;
    }

    &--scooter {
      background-image: url(../images/advantages/scooter.svg);
    }

    &--return {
      background-image: url(../images/advantages/return.svg);
    }

    &--support {
      background-image: url(../images/advantages/hours.svg);
    }
  }

  &__title {
    @extend %lato-700;
    font-size: 16px;
    margin-bottom: 7px;
  }

  &__text p {
    @extend %lato-400;
    color: $dark-500
  }
}