.advantages {
  background-color: $silver-100;

  &__inner {
    padding: 44px 0;
    display: flex;
    justify-content: center;
  }

  &__item {
    max-width: 380px;
    padding: 5px 0 4px 70px;
    letter-spacing: 0;
    background-repeat: no-repeat;
    background-position: left center;


    /*я обнулив останній елемент але тепер він не підходить по піксель перфекту,що робити в даній ситуації лишати обнуленим ласт елемент чи не обнуляти але тоді підійде під Pixel P*/
    &:not(:last-child) {
      margin-right: 62px;
    }

    &--scooter {
      background-image: url(../images/advantages/scooter.svg);
    }

    &--return {
      background-image: url(../images/advantages/return.svg);
    }

    &--support {
      background-image: url(../images/advantages/hours.svg);
    }
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 7px;
    @include line-clamps(2);
  }

  &__text p {
    font-weight: 400;
    color: $dark-500;
    @include line-clamps(2);
  }
}