.advantages {
  display: flex;
  justify-content: center;
  background-color: $silver-100;

  @include r($xs) {
    display: block;
  }

  .container {
    width: 100%;
  }

  &__inner {
    padding: 44px 0;
    display: flex;
    justify-content: center;

    @include r($md) {
      padding-right: 0;
    }

    @include r($sm) {
      padding: 30px 0;
      flex-wrap: wrap;
    }

    @include r($xs) {
      padding: 24px 0;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 275px;
    width: 100%;
    padding: 5px 0 4px 74px;
    letter-spacing: 0;
    background-repeat: no-repeat;
    background-position: left center;

    @include r($md) {
      max-width: 253px;
      padding: 5px 0 4px 60px;
    }

    @include r($xs) {
      max-width: 100%;
      padding: 5px 0 4px 74px;

    }

    &:not(:last-child) {
      margin-right: 48px;

      @include r($md) {
        margin-right: 20px;
      }

      @include r($sm) {
        margin-bottom: 30px;
      }

      @include r($xs) {
        margin-bottom: 24px;
      }
    }

    &--scooter {
      background-image: url(../images/advantages/scooter.svg);
    }

    &--return {
      background-image: url(../images/advantages/return.svg);
    }

    &--support {
      background-image: url(../images/advantages/hours.svg);
    }
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 7px;
    @include line-clamps(1);
    max-width: 193px;

  }

  &__text p {
    font-weight: 400;
    color: $dark-500;
    @include line-clamps(1);
    max-width: 193px;

  }
}