.breadcrumbs {
  background-color: $silver-100;

  @include r($xs) {
    padding: 24px 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    padding: 24px 0;
    font-size: 14px;
    font-weight: normal;
    color: $dark-500;
    line-height: 1.2;
    white-space: nowrap;
    letter-spacing: 0.03em;

    @include r($xs) {
      padding: 0 0;
      white-space: normal;
    }

    &:not(:last-child) {
      :hover {
        color: $main-color;
      }

      margin-right: 18px;

      &::after {
        content: "";
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../images/chevron.svg);
        height: 10px;
        width: 6px;
        top: calc(50% - 5px);
        right: -12px;
      }
    }
  }

  &__link {
    transition: color 0.3s ease-in-out;
  }
}