.footer {
  background-color: $dark-800;
  padding-top: 28px;
  color: $white;
  letter-spacing: 0;
  font-weight: 400;

  &__logo {
    width: fit-content;
    margin-bottom: 24px;
  }

  &__info {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between
  }

  &__follow-us {
    margin-right: 62px;
  }

  &__label {
    display: block;
    margin-bottom: 14px;
  }

  &__subscribe-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__input {
    max-width: 182px;
    padding: 10px 14px;
    background-color: $white;
    border: 0;
    border-radius: 6px 0px 0px 6px;
    outline-color: $main-color;


    &::placeholder {
      font-weight: 400;
      line-height: 1;
      color: $footer-placeholder;
    }
  }

  &__menu {
    column-count: 3;
    column-gap: 83px;
  }

  &__item {
    max-width: 132px;
    @include line-clamps(1);
    width: fit-content;
    margin-bottom: 18px;

  }

  &__link {
    transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      color: $main-color;
    }

    &:active {
      transform: scale(0.9);
    }

    &--tel {
      margin-bottom: 25px;
    }

    &--address {
      display: block;
      text-transform: capitalize;
      margin-bottom: 22px;
      max-width: 205px;
      @include line-clamps(2);
    }
  }

  &__contacts {
    margin-right: 4px;
  }

  &__text {
    margin-bottom: 18px;
    max-width: 205px;
    @include line-clamps(2);
  }

  &__hotline {
    margin-right: 5px;
  }

  &__social {
    display: flex;
  }

  &__social-item {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__social-link {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: block;

    & svg {
      transition: fill 0.3s ease-in-out;
    }

    &:hover {
      opacity: 0.7;
    }

    &:focus svg {
      fill: $main-color;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__bottom {
    border-top: 1px solid rgba($white, 0.1);
    padding: 16px 0px;
    padding-left: 18px;

  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copy {
    text-transform: uppercase;
  }

  &__cards {
    display: flex;
    margin-right: 8px;
  }

  &__card:not(:last-child) {
    margin-right: 24px;
  }
}