.footer {
  background-color: $dark-800;
  padding-top: 28px;
  color: $white;
  letter-spacing: 0;
  font-weight: 400;

  @include r($xs) {
    padding-top: 24px;
  }

  .container {
    @include r($xs) {
      padding: 0;
    }
  }

  &__logo {
    width: fit-content;
    margin-bottom: 24px;

    @include r($sm) {
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }

  &__info {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;

    @include r($sm) {
      justify-content: center;
      flex-wrap: wrap;
      row-gap: 30px;
      column-gap: 40px;
    }

    @include r($xs) {
      flex-direction: column;
      align-items: stretch;
      flex-wrap: wrap;
      row-gap: 24px;
      margin-bottom: 26px;
    }
  }

  &__follow-us {
    margin-right: 62px;

    @include r($lg) {
      margin-right: 0;
    }

    @include r($sm) {
      margin: 0 auto;
      order: 2;
    }
  }

  &__label {
    display: block;
    margin-bottom: 15px;
  }

  &__subscribe-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__input {
    max-width: 182px;
    padding: 10px 14px;
    background-color: $white;
    border: 0;
    border-radius: 6px 0px 0px 6px;
    outline-color: $main-color;


    &::placeholder {
      font-weight: 400;
      line-height: 1;
      color: $footer-placeholder;
    }
  }

  &__wrap {
    display: flex;
    justify-content: center;
    width: fit-content;

    @include r($sm) {
      order: 1;
    }

    @include r($xs) {
      width: 100%;
      border-bottom: 1px solid rgba($white, 0.1);
    }
  }

  &__menu {
    padding-top: 3px;
    column-count: 3;
    column-gap: 84px;

    @include r($lg) {
      column-gap: 28%;
      max-width: 100%;
    }

    @include r($md) {
      column-count: 2;
      column-gap: 45%;
      max-width: 80%;
    }

    @include r($sm) {
      order: 1;
      column-count: 2;
      column-gap: 45%;
      max-width: 100%;
    }

    @include r($xs) {
      column-count: 2;
      column-gap: 45%;
      max-width: 100%;
      padding-bottom: 8px;
    }
  }

  &__item {
    max-width: 132px;
    @include line-clamps(1);
    width: fit-content;
    margin-bottom: 19px;
  }

  &__link {
    transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      color: $main-color;
    }

    &:active {
      transform: scale(0.9);
    }

    &--tel {
      margin-bottom: 25px;
    }

    &--address {
      display: block;
      text-transform: capitalize;
      margin-bottom: 20px;
      max-width: 205px;
      @include line-clamps(2);
    }
  }

  &__contacts {
    padding-top: 2px;
    margin-right: 4px;

    @include r($sm) {
      margin-right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 14px;
    }

    @include r($xs) {
      border-bottom: 1px solid rgba($white, 0.1);
    }
  }

  &__text {
    margin-bottom: 18px;
    max-width: 205px;
    @include line-clamps(2);
  }

  &__hotline {
    margin-right: 5px;
  }

  &__bottom {
    border-top: 1px solid rgba($white, 0.1);
    padding: 16px 0px;
    padding-left: 18px;

    @include r($xs) {
      padding: 24px 0;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include r($xs) {
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
    }
  }

  &__copy {
    text-transform: uppercase;

    @include r($xs) {
      order: 1;
    }
  }

  &__cards {
    display: flex;
    margin-right: 8px;

    @include r($xs) {
      margin: 0;
    }
  }

  &__card:not(:last-child) {
    margin-right: 24px;
  }
}