.header {
  &__content {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__top {
    background-color: $dark-800;
  }

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 48px;
  }

  &__link {
    display: block;
    text-transform: uppercase;
    color: $white;
    width: max-content;
    @extend %lato-700;
    font-size: 13px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
    outline: transparent;
    padding: 17px 0;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      color: $main-color;
    }

    &:active {
      transform: scale(0.9);
    }

    &--box {
      display: flex;
      align-items: center;
      padding: 14px 0;
    }
  }

  &__icon {
    margin-right: 12px;
  }

  &__wrap:not(:last-child) {
    margin-right: 24px;
  }

  &__bottom {
    background-color: $green-900;
    padding: 25px 0;
  }

  &__menu {
    display: flex;
    align-items: center;
    padding: 16px 18px;
    border-radius: 6px;
    background-color: $white;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;

    &::before {
      content: "";
      background-image: url(../images/header/menu.svg);
      width: 26px;
      height: 17px;
      display: block;
      margin-right: 18px;
    }

    &-text {
      margin-right: 14px;
      color: $main-color;
      max-width: 132px;
      @include line-clamps(1);
    }

    &::after {
      content: "";
      background-image: url(../images/header/Chevron-down.svg);
      width: 8px;
      height: 4px;
      display: block;
    }

    &:hover {
      background-color: $green-200;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__form-search {
    display: flex;
    justify-content: center;
    max-width: 576px;
    width: 100%;
  }

  &__box {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 419px;
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      left: 12px;
      background-repeat: no-repeat;
      background-image: url(../images/header/search.svg);
      width: 21px;
      height: 20px;
    }
  }

  &__search {
    padding: 16px 0 16px 51px;
    width: 100%;
    border: 0;
    border-radius: 6px 0 0 6px;
    outline-color: $dark-800;

    &::placeholder {
      @extend %lato-400;
      letter-spacing: 0.03em;
      color: $dark-800;
    }
  }

  &__user {
    display: flex;
    margin-right: 13px;

    &-item:not(:last-child) {
      margin-right: 12px;
    }

    &-link {
      outline: transparent;
      display: block;
      position: relative;
      transition: background-color 0.4s ease-in-out;
      border-radius: 3px;
      transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;

      & svg {
        transition: fill 0.3s ease-in-out;
      }

      &--user {
        padding: 9px 13px;
      }

      &--favourite {
        padding: 11px 9px;
      }

      &--cart {
        padding: 9px 8px 10px 10px;
      }

      &:hover {
        background-color: $user-bg-hover;
      }

      &:focus svg {
        fill: $dark-800;
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }

  &__num {
    position: absolute;
    left: 6px;
    top: 3px;
    text-align: center;
    color: $red-900;
    font-size: 10px;
    line-height: 18px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $white;
  }
}