.product-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border: 1px solid $border;
  border-radius: 6px;
  transition: border-color 0.3s ease-in-out;
  letter-spacing: 0;
  padding: 12px;

  &:hover {
    border-color: $main-color;
  }

  &--list {
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 12px;

    .status {
      top: 6px;
      left: 7px;
    }

    .product-card {
      &__link {
        display: block;
        // width: 62%;
        min-width: 180px;
        max-width: 180px;
        margin: 0;
        margin-right: 25px;

        @include r($xl) {
          margin-right: 5px;
        }

        @include r($md) {
          height: 100%;
          min-width: 165px;
          max-width: 165px;
        }
      }

      &__favorite {
        top: 65px;
        right: 18px;
      }

      &__description {
        max-width: inherit;
        width: 100%;
        padding-bottom: 5px;
        padding-right: 7px;
        padding-left: 0;
      }

      &__addition {
        margin-bottom: 8px;
      }

      &__title {
        max-width: 85%;
      }
    }
  }

  &__favorite {
    position: absolute;
    top: 17px;
    right: 12px;

    svg {
      transition: fill 0.3s ease-in-out;

      &:hover {
        fill: $yellow-900;
      }
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    margin-top: 49px;
    margin-bottom: 24px;
    width: 100%;


    @include r($sm) {
      height: 245px;

    }

    @include r($xs) {
      height: 140px;
      margin-bottom: 15px;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;

    @include r($xs) {
      width: 85%;
    }

    @include r(400) {
      width: 100%;
    }
  }

  &__description {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 6px 6px 6px;

    @include r($xs) {
      padding: 0;
    }
  }

  &__addition {
    display: flex;
    justify-content: space-between;
    align-items: center
  }

  &__title {
    @include line-clamps(3);

    @include r($xs) {
      @include line-clamps(4);
      margin-bottom: 10px;
    }
  }

  &__inner {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__price-box {
    font-weight: 400;
    line-height: 1;
    color: $dark-500;
    display: block;

    &--offer {
      position: relative;
      color: $silver-600;
      margin-bottom: 3px;
      width: fit-content;

      &::before {
        content: "";
        position: absolute;
        top: 42%;
        transform: rotate(-8deg);
        background-color: $silver-600;
        height: 1px;
        width: 100%;
      }
    }
  }

  &__price {
    display: inline-block;
    max-width: 90px;
    margin-right: 7px;
    @include line-clamps(1);
    text-overflow: clip;
  }

  &__buy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-right: -2px;
    background-color: $main-color;
    border-radius: 3px;
    transition: background-color 0.4s ease-in-out, box-shadow 0.3s ease-in-out;

    svg {
      transition: fill 0.3s ease-in-out;
    }

    &:hover {
      background-color: $bg-green-dark;
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px $green-200;
    }

    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

      svg {
        fill: rgba($white, 0.5);
      }
    }
  }
}