@import 'side-menu';
@import 'cart';
@import '../calculator';

.header {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__top {
    background-color: $dark-800;
  }

  &__btn {
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 21px;

    @include r($xs) {
      display: flex;
    }
  }

  &__line {
    height: 2px;
    width: 100%;
    background-color: $white;

    &::before,
    &::after {
      content: "";
      height: 2px;
      width: 100%;
      display: block;
      background-color: $white;
      position: absolute;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  &__list {
    display: flex;

    &:last-child {
      @include r($xs) {
        display: none;
      }
    }
  }

  &__item:not(:last-child) {
    margin-right: 48px;

    @include r($sm) {
      margin-right: 31px
    }

    @include r($md) {
      margin-right: 24px
    }

    @include r($xs) {
      margin-right: 31px
    }
  }

  &__link {
    display: block;
    text-transform: uppercase;
    color: $white;
    width: max-content;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
    outline: transparent;
    padding: 15px 0;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      color: $main-color;
    }

    &:active {
      transform: scale(0.9);
    }

    &--box {
      display: flex;
      align-items: center;
      padding: 13.5px 0;

      @include r($sm) {
        font-size: 0;
      }
    }
  }

  &__icon {
    margin-right: 12px;

    @include r($sm) {
      margin-right: 0px
    }
  }

  &__wrap:not(:last-child) {
    margin-right: 24px;
  }

  &__bottom {
    position: relative;
    background-color: $green-900;
    padding: 24px 0;
    padding-bottom: 21px;

    @include r($sm) {
      padding: 9px 0px;
    }

  }

  &__logo {
    @include r($sm) {
      margin-right: 10px;
    }

    @include r($xs) {
      margin-right: 8px;
    }

    img {
      @include r($sm) {
        width: 37px;
        height: 40px;
      }
    }
  }

  &__menu-wrapper {
    position: relative;
    margin-right: 6px;

    @include r($xs) {
      margin-right: 0px;
    }

    &:hover {
      .header__catalog {
        height: 615px;

        @include r($md) {
          height: 0;
        }
      }

      .header__menu {
        border-radius: 6px 6px 0 0;

        @include r($md) {
          border-radius: 6px;
        }
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    padding: 15.4px 19px;
    border-radius: 6px;
    background-color: $white;
    transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out;

    @include r($xl) {
      padding: 16px 10px;
      max-width: 200px;
    }

    @include r($sm) {
      padding: 12px 10px;
      max-width: 200px;
    }

    @include r($xs) {
      padding: 12px 12px;
    }

    &::before {
      content: "";
      background-image: url(../images/header/menu.svg);
      width: 26px;
      height: 17px;
      display: block;
      margin-right: 22px;

      @include r($xl) {
        margin-right: 8px;
      }

      @include r($xs) {
        margin-right: 21px;
      }
    }

    &::after {
      content: "";
      background-image: url(../images/header/Chevron-down.svg);
      width: 8px;
      height: 4px;
      display: block;
      transition: transform 0.3s ease-in-out;
    }

    &:hover {
      background-color: $green-200;
    }

    &--active {
      &::after {
        transform: rotate(180deg);

        @include r($md) {
          transform: none;
        }
      }
    }
  }

  &__menu-text {
    margin-right: 14px;
    white-space: nowrap;
    color: $main-color;
    @include line-clamps(1);
    text-overflow: clip;

    @include r($md) {
      max-width: 59px;
    }

    @include r($xl) {
      margin-right: 4px;
    }

    @include r($xs) {
      margin-right: 20px;
    }
  }

  &__catalog {
    z-index: 4;
    position: absolute;
    overflow: hidden;
    display: block;
    height: 0;
    left: 0;
    right: 0;
    font-size: 16px;
    transition: height 0.3s ease-in-out;

  }

  &__catalog-item {
    &:last-child a {
      border-radius: 0px 0px 6px 6px;
    }

    &:last-child a::after {
      border-radius: 0px 0px 0px 6px;
    }
  }

  &__catalog-link {
    position: relative;
    font-weight: 400;
    line-height: 1.2;
    color: $black;
    background-color: #fff;
    padding: 15px 24px;
    padding-right: 0;
    display: block;
    border: 1px solid rgba(193, 193, 193, 0.3);
    transition: color 0.2s ease-in-out;

    @include r($xl) {
      padding: 15px 10px;
    }

    &::after {
      position: absolute;
      left: -1px;
      top: 0;
      bottom: 0;
      content: "";
      width: 0px;
      background-color: $main-color;
      transition: width 0.2s ease-in-out;
    }

    &:hover {

      &::after {
        width: 4px;
      }

      color: $main-color;
    }
  }

  &__search-min {
    display: none;
    padding: 0;
    font-size: 0;
    background-image: url(../images/header/search-light.svg);
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 50px;
    width: 50px;
    border-radius: 6px;

    @include r($xs) {
      display: block;
      margin-right: -6px;
      width: 40px;
    }

    &:hover {
      background-color: rgba($white, 0.1);
    }

    &:active {
      color: rgba($white, 0.5);
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &__form-search {
    display: flex;
    justify-content: center;
    margin-right: 8px;
    max-width: 576px;
    width: 100%;
    transition: height 0.3s ease-in-out;


    @include r($lg) {
      max-width: auto;
      width: auto;
    }

    @include r($sm) {
      margin: 0;
    }

    @include r($xs) {
      width: 100%;
      position: absolute;
      top: 97%;
      left: 0;
      right: 0;
      height: 0;
      overflow: hidden;
      z-index: 3;
    }

    &--active {
      height: 80%;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 419px;
    width: 100%;

    @include r($lg) {
      max-width: 200px;
    }

    @include r($xs) {
      max-width: 100%;
      border: 1px solid $dark-800;
    }

    &::before {
      content: "";
      position: absolute;
      left: 12px;
      background-repeat: no-repeat;
      background-image: url(../images/header/search.svg);
      width: 21px;
      height: 20px;

      @include r($md) {
        background-image: none;
      }

      @include r($xs) {
        background-image: url(../images/header/search.svg);
      }
    }
  }

  &__search {
    padding: 15.4px 0 15.4px 51px;
    width: 100%;
    border: 0;
    border-radius: 6px 0 0 6px;
    outline-color: $dark-800;

    &::placeholder {
      font-weight: 400;
      letter-spacing: 0.03em;
      color: $dark-800;
    }

    @include r($md) {
      padding: 16px 0 16px 13px;
    }

    @include r($sm) {
      padding: 11px 0 11px 13px;
    }

    @include r($xs) {
      border-radius: 0;
      padding: 14px 0 14px 45px;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    margin-right: 13px;

    @include r($lg) {
      margin-right: 0;
    }
  }

  &__user-item:not(:last-child) {
    margin-right: 12px;

    @include r($md) {
      margin-right: 4px;
    }

    @include r($xs) {
      display: none;
    }
  }

  &__user-link {
    outline: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position: relative;
    transition: background-color 0.4s ease-in-out;
    border-radius: 3px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;

    @include r($xs) {
      width: 40px;
    }

    &:hover {
      background-color: $user-bg-hover;
    }

    &:active {
      transform: scale(0.9);
    }

    &--user {
      @include r($xs) {
        display: none;
      }
    }

    &--favourite {
      @include r($xs) {
        display: none;
      }
    }

    svg {
      fill: white;
      transition: fill 0.3s ease-in-out;

      @include r($sm) {
        height: 24px;
        width: 24px;
      }
    }
  }


  &__num {
    position: absolute;
    display: block;
    left: 4px;
    top: 2px;
    text-align: center;
    color: $red-900;
    font-size: 10px;
    line-height: 18px;
    max-width: 23px;
    width: fit-content;
    height: 18px;
    padding: 0 3px;
    border-radius: 50%;
    background-color: $white;
    @include line-clamps(1);
    text-overflow: clip;

    @include r($xs) {
      left: 1px;
      top: -3px;
    }
  }
}