.advertising {
  padding-top: 73px;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__item {
    padding: 76px 32px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    text-transform: uppercase;
    color: $dark-500;
    border-radius: 6px;
    max-width: 300px;
    width: 100%;

    &:first-child {
      max-width: 630px;
      padding-right: 97px;
      flex-grow: 2;
      color: $white;

      p {
        max-width: 510px;
      }

      .advertising__link {
        border-color: $white;
      }

    }

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__text {
    margin-bottom: 12px;

    & span {
      display: block;
      line-height: 1;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.1;
      margin-bottom: 16px;
      @include line-clamps(3);
    }

    & p {
      font-family: $open-sans;
      font-weight: 600;
      font-size: 30px;
      @include line-clamps(2);
    }
  }

  &__link {
    @include line-clamps(1);
    max-width: 200px;
    display: block;
    width: fit-content;
    line-height: 1;
    font-weight: 700;
    padding-bottom: 6px;
    border-bottom: 2px solid $dark-500;
    transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    outline: transparent;

    &:hover {
      opacity: 0.5;
    }

    &:focus {
      color: $main-color;
      border-color: $main-color;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}