.brand {
  padding: 68px 0;
  overflow: hidden;

  @include r($sm) {
    padding: 48px 0;
  }

  &__wrapper {
    margin: 0 -81px;

    @include r($xl) {
      margin: 0;
      margin-right: 0px;
    }
  }

  &__item {
    margin: 0 81px;
    width: fit-content;

    @include r($xl) {
      margin: 0 50px;
    }

    @include r($md) {
      margin: 0 30px;
    }

    @include r($sm) {
      margin: 0 35px;
    }

    @include r($xs) {
      margin: 0 40px;
    }

  }

  &__link {
    display: block;
    width: fit-content;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out,
      border-bottom 0.3s ease-in-out,
      transform 0.3s ease-in-out;

    &:hover {
      opacity: 1;
    }

    @include r($sm) {
      opacity: 1;
    }
  }

  &__img {
    display: block;
  }
}