.goods-offer {
  background-color: $silver-200;
  padding: 75px 0;

  @include r($sm) {
    padding: 48px 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-auto-rows: 124px;
    justify-content: center;
    grid-gap: 30px;
    margin-bottom: 48px;

    @include r($xl) {
      grid-template-columns: repeat(3, 300px);
    }

    @include r($md) {
      grid-template-columns: repeat(2, 300px);
      grid-gap: 20px;
    }

    @include r($sm) {
      grid-template-columns: repeat(1, 300px);
      grid-gap: 15px;
      margin-bottom: 24px;
    }

  }

  &__item {
    width: 100%;
    position: relative;
  }
}