.news {
  padding-bottom: 76px;

  @include r($sm) {
    padding-bottom: 48px;
  }

  &__inner {
    position: relative;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    @include r($xl) {
      justify-content: space-between;
    }

    @include r($sm) {
      margin-bottom: 24px;
    }

    @include r($xs) {
      display: block;
      width: fit-content;
      margin: 0;
      margin-bottom: 18px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 26px;

    @include r($sm) {
      margin-bottom: 4px;
    }
  }

  &__all {
    display: inline-block;
    font-weight: 700;
    font-size: 17px;
    line-height: 1;
    color: $main-color;
    padding: 6px 0;
    border-bottom: 2px solid $main-color;
    transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    max-width: 250px;
    @include line-clamps(1);
    margin-right: 4px;

    &:hover {
      color: $bg-green-dark;
      border-color: $bg-green-dark;
    }

    &:focus {
      color: $dark-900;
      border-color: $dark-900;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include r($sm) {
      margin-right: -10px;
    }

    @include r($xs) {
      margin-right: 0px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;

      @include r($xl) {
        margin-bottom: 30px;
      }

      @include r($sm) {
        margin-right: 10px;
        margin-bottom: 15px;
      }

      @include r($xs) {
        margin-right: 0px;
      }
    }
  }
}

.news-card {
  position: relative;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  max-width: 410px;
  width: 100%;
  height: 100%;
  color: $dark-900;

  @include r($md) {
    max-width: 345px;
  }

  @include r($sm) {
    max-width: 265px;
  }

  @include r($xs) {
    max-width: 100%;
  }

  &__link {
    @include r($xs) {
      width: 100%;
    }

    &:hover .news-card__description {
      color: $main-color;
    }
  }

  &__date {
    position: absolute;
    top: 0px;
    left: 22px;
    min-width: 65px;
    text-transform: uppercase;
    text-align: center;
    background-color: $white;
    border-radius: 0px 0px 4px 4px;
    padding: 19px 6px 10px 6px;
  }

  &__month {
    display: block;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.06em;
    margin-bottom: 6px;
  }

  &__number {
    display: block;
    font-family: $open-sans;
    font-weight: 600;
    font-size: 30px;
    line-height: 1;
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;

    @include r($xs) {
      max-width: 100%;
    }
  }

  &__description {
    font-size: 18px;
    padding: 18px 14px;
    transition: color 0.3s ease-in-out;
    @include line-clamps(5);

    @include r($md) {
      font-size: 14px;
    }

    @include r($xs) {
      max-width: 410px;
    }
  }
}