.news {
  padding-bottom: 80px;

  @include r($sm) {
    padding-bottom: 48px;
  }

  &__inner {
    position: relative;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    @include r($xl) {
      justify-content: space-around;
    }

    @include r($sm) {
      display: block;
      width: fit-content;
      margin: 0 auto;
      margin-bottom: 24px;
    }

    @include r($xs) {
      display: block;
      width: fit-content;
      margin: 0;
      margin-bottom: 18px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 30px;

    @include r($sm) {
      margin-bottom: 4px;
    }
  }

  &__all {
    display: inline-block;
    font-weight: 700;
    font-size: 17px;
    line-height: 1;
    color: $main-color;
    padding: 6px 0;
    border-bottom: 2px solid $main-color;
    transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    max-width: 250px;
    @include line-clamps(1);

    &:hover {
      color: $bg-green-dark;
      border-color: $bg-green-dark;
    }

    &:focus {
      color: $dark-900;
      border-color: $dark-900;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 18px;
  }

  &__link {
    &:not(:last-child) {}
  }

  &__box {
    position: relative;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    max-width: 410px;
    width: 100%;
    color: $dark-900;

    @include r($md) {
      max-width: 345px;
    }

    &:hover .news__description {
      color: $main-color;
    }
  }

  &__date {
    position: absolute;
    top: 0;
    left: 20px;
    height: 72px;
    min-width: 65px;
    text-transform: uppercase;
    text-align: center;
    background-color: $white;
    border-radius: 0px 0px 4px 4px;
    padding: 14px 6px 0 6px;
  }

  &__month {
    display: block;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.06em;
    margin-bottom: 6px;
  }

  &__number {
    display: block;
    font-family: $open-sans;
    font-weight: 600;
    font-size: 30px;
    line-height: 1;
  }

  &__image {}

  &__img {
    display: block;

    @include r($md) {
      height: 100%;
    }
  }

  &__description {
    /*Я не додумався краще ніж задати висоту щоб вони всі були одинакові,
     якщо так не підходить то підкажи як правильно, будьласка*/
    min-height: 106px;

    @include r($xs) {
      min-height: auto;
    }

    padding: 14px;
    transition: color 0.3s ease-in-out;

    & h3 {
      font-size: 18px;

      @include r($md) {
        font-size: 14px;
      }

      @include line-clamps(5);
    }
  }
}